/* navbar and footer */
nav {
  background-image: linear-gradient(to right, #283c86, #45a247);
  /* height: 100px; */
  vertical-align: middle;
  font-family: "Rubik", sans-serif;
}
.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #bc6bfa;
}

#brand-img {
  width: 100%;
  height: auto;
}

.navbar-brand {
  margin: 10px;
  display: grid;
  text-align: center;
  align-items: center;
  width: 80px;
  height: 50px;
}

.footer-logo {
  margin: 10px;
  display: inline-block;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
}

#footer-logo {
  margin: 0 5px 5px -5px;
  width: 70px;
  height: auto;
}

footer {
  background-image: linear-gradient(to right, #283c86, #45a247);
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
}

footer a {
  text-decoration: none;
}

.footer-icons {
  font-size: 1.2em;
}

#toggle {
  color: white;
}

#login {
  color: black;
  background-color: white;
  border: none;
  width: 100px;
}

#logout {
  color: black;
  background-color: white;
  border: none;
  width: 100px;
}
/* navbar and footer */
/* home page */

.student_home {
  background-image: linear-gradient(to bottom right, #8f71ff, #8bffff);
}

.dept_home {
  background-image: linear-gradient(to bottom right, #00b7c2, #4ef037);
}

.subject_home {
  background-image: linear-gradient(to bottom right, #c7004c, #ffaaaa);
}

.teacher_home {
  background-image: linear-gradient(to bottom right, #3b6cb9, #00fff0);
}

div.card {
  margin: 30px 0 35px 0;
  color: white;
  border: none;
  font-family: "Fira Sans", sans-serif;
}

.home_btn {
  border: none;
}

.row1 {
  margin-top: -30px;
}
/* home page */

/* department */
tbody {
  background-color: #548cff;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

tbody a {
  text-decoration: none;
  color: white;
}

.update_delete_dept {
  margin-top: 50px;
  margin-bottom: 130px;
}

/* department */

.name {
  margin: 50px 0 0 0;
}

.table {
  margin: 50px 0 100px 0;
  color: white;
}

.page_heading {
  margin: 30px 0 0 0;
  font-family: "Merriweather", serif;
}

thead {
  background-color: #7900ff;
  font-family: "Roboto Slab", serif;
}

.update_delete_st {
  margin: 50px 0 50px 0;
}

#update {
  margin: 0 20px 0 0;
  font-family: "IBM Plex Sans", sans-serif;
}

.delete_form {
  text-align: center;
  font-size: 3em;
  margin: 100px 0 100px 0;
  font-family: "Prompt", sans-serif;
}

.danger {
  font-size: 0.89em;
  margin: 40px;
  letter-spacing: 2px;
}

#delete {
  margin: 0 0 0 0;
  font-family: "IBM Plex Sans", sans-serif;
}

.forms {
  margin: 50px 0 50px 0;
}

.save {
  font-family: "Mukta", sans-serif;
}

.input_form {
  margin: 50px 0 50px 0;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 16px;
  font-family: "Mukta", sans-serif;
}

.detail {
  font-family: "IBM Plex Sans", sans-serif;
}

@media only screen and (max-width: 992px) {
  .nav-link {
    text-align: center;
  }
  nav {
    font-size: 1em;
  }
  #login {
    margin: auto;
  }
  #logout {
    margin-top: 45px;
    margin: auto;
  }
}

@media only screen and (max-width: 1031px) {
  .nav-link {
    font-size: 0.84em;
  }
}

@media only screen and (max-width: 768px) {
  .row {
    display: flex;
  }
  .row1 {
    margin-top: auto;
  }
}
